fastapi
uvicorn[standard]
python-jose[cryptography]

# Fijamos versiones compatibles para evitar el error de bcrypt/passlib
passlib[bcrypt]==1.7.4
bcrypt==3.2.2

boto3
sqlalchemy
pydantic
pytest
pytest-asyncio
python-multipart
google-generativeai
pillow
pandas
openpyxl
